body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.page-layout {
  display: flex;
  flex-direction: row;
}

.page-drawer {
  background-color: #eee;
  width: 200px;
  display: flex;
  flex-direction: column;
}
